@model cimri.webui.Models.BrandModel
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body> 
    <table class="table table-bordered">
        <thead>
            <tr>
               
               <th>Kategori Adı</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Categories)
            {
            <tr>               
                <td>@item.CategoryName</td>
                

            </tr>
            }
        </tbody>
        <thead>
            <tr>
               
               <th>Ürün Adı</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Products)
            {
            <tr>               
                <td>@item.ProductName</td>
                

            </tr>
            }
        </tbody>
    </table> 
    
    </body>
    </html>