@model cimri.webui.Models.CategoryModel
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body> 
    <!-- <table class="table table-bordered">
        <thead>
            <tr>
               
               <th>Ürün Adı</th>
               <th>Fiyat</th>
               
            </tr>
        </thead>
        <tbody>
           product için foreach eklenecek 
        </tbody>
    </table> -->
    <table class="table table-bordered">
        <thead>
            <tr>
               <th>Marka Adı</th>
               
            </tr>
        </thead>
        <tbody>
            
            @foreach(var item in Model.Brands)
            {
            <tr>    
                <td>@item.BrandName</td>
            </tr>
            }

        </tbody>
    </table> 
    </body>
    </html>