@model cimri.webui.Models.DescriptionModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <title>Document</title>
</head>
<body>
    <form asp-controller="Cimri" asp-action="DescriptionAdd" method="post">
        <div class="mb-3">
            <label class="form-label">Ürün Seçimi</label>
            <select asp-for="ProductId" class="form-control">
                <option value="">-- Ürün Seç --</option>
                @foreach (var product in ViewBag.ProductList)
                {
                    <option value="@product.Value">@product.Text</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Ozellikler</label>
            <input asp-for="Text" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-primary">Kaydet</button>

    </form>
</body>
</html>


