@model cimri.webui.Models.ProductModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Document</title>
</head>
<body>
    <form asp-controller="Cimri" asp-action="ProductAdd" method="post">
        <div class="mb-3">
            <select asp-for="BrandId" >
               @foreach (var item in Model.Brands)
                    {
                        <option value="@item.Id">@item.BrandName</option>
                    }
                
            </select>
        </div>
        <div>
            <label  class="form-label">Ürün adı</label>
            <input asp-for="ProductName" class="form-control">
        </div>
        <div>
            <label  class="form-label">Fiyat</label>
            <input asp-for="Price" class="form-control">
        </div>
        <div>
            <label  class="form-label">Ürün Url</label>
            <input asp-for="Url" class="form-control">
        </div>
        <div>
            <label  class="form-label">Resim url</label>
            <input asp-for="Image" class="form-control">
        </div>
       
        <button type="submit" class="btn btn-primary">Kaydet</button>

    </form>
</body>
</html>