@model cimri.webui.Models.ShopModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Document</title>
</head>
<body>
    <form asp-controller="Cimri" asp-action="ShopAdd" method="post">
        <div class="mb-3">
            <select asp-for="ProductId" >
               @foreach (var item in Model.Products)
                    {
                        <option value="@item.Id">@item.ProductName</option>
                    }
                
            </select>
        </div>
        
        <div class="mb-3">
            <label  class="form-label">Magaza Adı</label>
            <input asp-for="ShopName" class="form-control">
        </div>
        <div class="mb-3">
            <label  class="form-label">web sitesi url</label>
            <input asp-for="webSite" class="form-control">
        </div>
        <div class="mb-3">
            <label  class="form-label">Image</label>
            <input asp-for="Image" class="form-control">
        </div>
        <div class="mb-3">
            <label  class="form-label">kargo ücret bilgisi</label>
            <input asp-for="CargoInfo" class="form-control">
        </div>
        <div class="mb-3">
            <label  class="form-label">kargo zamanı</label>
            <input asp-for="CargoTime" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>

    </form>
</body>
</html>