<div class="wrapper">
    <div class="container üst-container">
        <div class="topheader">
            <div class="container topheader-container" >
                <a href="#" class="cimri">
                    <div class="mobil-cimri-logo">
                        <svg class="logo-cimri" width="56" height="24" viewBox="0 0 56 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.52779 8.08194C5.83768 8.08759 3.9948 10.0715 4.00001 14.0394C4.00522 18.0187 5.85419 20.0056 9.5443 20C12.4138 19.9956 14.1693 18.7821 14.8062 16.3542L12.3416 16.3585C11.8798 17.2308 10.9458 17.6687 9.54126 17.67C8.30181 17.6709 7.43467 17.3357 6.94115 16.6628C6.53626 16.1235 6.3325 15.2486 6.33164 14.0351C6.32903 12.8211 6.53061 11.9454 6.93246 11.4061C7.42555 10.7462 8.29095 10.4154 9.53126 10.4141C10.9514 10.4124 11.8859 10.8428 12.336 11.7103L14.801 11.7068C14.1567 9.29024 12.4033 8.08237 9.54169 8.08237C9.53778 8.08194 9.53257 8.08194 9.52779 8.08194ZM16.5448 8.07192L16.5609 19.9904L18.893 19.9874L18.8751 8.06888L16.5448 8.07192ZM35.0371 8.04624C33.0647 8.04886 31.6094 8.65431 30.6701 9.86436C29.7096 8.65823 28.2468 8.05582 26.2732 8.05887C22.5822 8.06409 20.7397 10.0567 20.7445 14.0373L20.7532 19.9843L23.0853 19.9813L23.0766 14.032C23.074 12.8185 23.2756 11.9428 23.6774 11.4043C24.1701 10.7305 25.0359 10.3915 26.2762 10.3902C27.5165 10.3889 28.3906 10.7223 28.9011 11.3956C29.306 11.9341 29.5071 12.8107 29.5089 14.0229L29.5175 19.973L31.8474 19.97L31.8396 14.0194C31.8387 12.8076 32.039 11.9301 32.4426 11.3908C32.934 10.7175 33.8002 10.3797 35.041 10.3784C36.2809 10.3771 37.1558 10.7114 37.6659 11.3843C38.0694 11.9219 38.2706 12.7976 38.2732 14.0107L38.2814 19.9608L40.6139 19.9573L40.6057 14.0081C40.5996 10.0337 38.748 8.04668 35.0514 8.04668C35.0462 8.04624 35.041 8.04624 35.0371 8.04624ZM42.4851 12.3671L42.4972 19.9547L44.8267 19.9512L44.8171 12.3619C44.8162 11.7325 45.0165 11.2681 45.4184 10.9691C45.9714 10.5651 46.9728 10.3614 48.423 10.3597L48.4195 8.02796C44.4591 8.03406 42.4816 9.48001 42.4851 12.3671ZM49.761 8.02448L49.7793 19.9438L52.1083 19.9399L52.0931 8.0223L49.761 8.02448ZM16.7325 4.36127C16.0035 4.89447 15.8502 5.92388 16.388 6.66166C16.9267 7.39726 17.9524 7.56266 18.6796 7.02902C19.4091 6.49582 19.562 5.46642 19.0242 4.7282C18.6988 4.28379 18.1965 4.04744 17.6896 4.04744C17.3568 4.04701 17.0214 4.14973 16.7325 4.36127ZM49.95 4.3147C49.221 4.8479 49.0659 5.87731 49.6064 6.61552C50.1433 7.35069 51.1716 7.51565 51.8963 6.98158C52.6274 6.44838 52.7808 5.41897 52.243 4.68119C51.918 4.23722 51.4141 4 50.9075 4C50.5738 4 50.2385 4.10272 49.95 4.3147Z" fill="white"></path></svg>
                    </div>
                    <div class="cimrii">
                        Cimri
                        <div class="altlik">
                        </div>
                    </div>
                </a>
                <a href="#" class="cimri-market">
                    <div class="mobil-cimrimarket-logo">
                        <svg width="70" height="22" viewBox="0 0 70 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.84914 2.02277C0.975864 2.02558 0.0403279 3.00871 0.0429743 4.97497C0.0456208 6.94684 0.984244 7.93148 2.85752 7.92867C4.3142 7.92652 5.2054 7.32516 5.52872 6.12203L4.27759 6.12418C4.04315 6.55643 3.56899 6.77342 2.85598 6.77407C2.22677 6.7745 1.78657 6.60841 1.53604 6.27495C1.33049 6.00771 1.22706 5.57416 1.22662 4.97281C1.2253 4.37124 1.32763 3.93727 1.53163 3.67002C1.78194 3.34303 2.22126 3.17911 2.8509 3.17846C3.57185 3.1776 4.04624 3.39092 4.27472 3.82079L5.52607 3.81907C5.19901 2.62154 4.3089 2.02299 2.8562 2.02299C2.85421 2.02277 2.85157 2.02277 2.84914 2.02277ZM6.41132 2.01781L6.41948 7.92393L7.60335 7.92242L7.59431 2.0163L6.41132 2.01781ZM15.7989 2.00509C14.7976 2.00638 14.0588 2.30641 13.582 2.90604C13.0944 2.30835 12.3518 2.00983 11.3499 2.01134C9.47618 2.01393 8.54087 3.00137 8.54329 4.97389L8.5477 7.92091L9.73157 7.9194L9.72716 4.9713C9.72583 4.36995 9.82817 3.93597 10.0322 3.66916C10.2823 3.33527 10.7218 3.16724 11.3514 3.16659C11.9811 3.16595 12.4248 3.33117 12.684 3.66485C12.8895 3.93166 12.9916 4.36607 12.9925 4.96677L12.9969 7.9153L14.1797 7.91379L14.1757 4.96505C14.1753 4.36456 14.2769 3.92972 14.4818 3.66247C14.7312 3.3288 15.171 3.16142 15.8009 3.16077C16.4303 3.16012 16.8745 3.32578 17.1334 3.65924C17.3383 3.92562 17.4404 4.3596 17.4417 4.96073L17.4459 7.90926L18.63 7.90754L18.6258 4.95944C18.6227 2.98994 17.6827 2.0053 15.8062 2.0053C15.8035 2.00509 15.8009 2.00509 15.7989 2.00509ZM19.5798 4.14627L19.586 7.90624L20.7686 7.90452L20.7637 4.14369C20.7633 3.83179 20.8649 3.60165 21.0689 3.45347C21.3497 3.2533 21.858 3.15236 22.5942 3.1515L22.5924 1.99603C20.582 1.99905 19.5781 2.71558 19.5798 4.14627ZM23.2735 1.9943L23.2827 7.90085L24.465 7.89891L24.4573 1.99322L23.2735 1.9943ZM6.5066 0.179026C6.13653 0.44325 6.05868 0.953365 6.33171 1.31897C6.60518 1.68349 7.12588 1.76545 7.49506 1.50101C7.86535 1.23679 7.94298 0.726671 7.66995 0.360855C7.50477 0.140632 7.24982 0.0235106 6.99245 0.0235106C6.82351 0.0232949 6.65325 0.0741985 6.5066 0.179026ZM23.3694 0.155946C22.9993 0.420171 22.9206 0.930286 23.1949 1.2961C23.4675 1.66041 23.9896 1.74216 24.3574 1.4775C24.7286 1.21328 24.8064 0.703161 24.5334 0.33756C24.3684 0.117553 24.1126 0 23.8555 0C23.6861 0 23.5158 0.0509036 23.3694 0.155946Z" fill="#0786E7"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.3511 20.9423C16.0609 21.4249 17.0487 21.6702 18.2869 21.6702C18.9666 21.6702 19.5784 21.6008 20.105 21.4628C20.626 21.3261 21.0609 21.1603 21.406 20.9667C21.6482 20.8207 21.8456 20.6613 21.9906 20.4925C22.1563 20.299 22.2401 20.0326 22.2401 19.7007V15.4914C22.2401 14.3692 21.865 13.5306 21.1263 12.9988C20.4109 12.4825 19.4433 12.2208 18.2503 12.2208C17.7452 12.2208 17.2595 12.2616 16.803 12.342C16.3358 12.4253 15.9177 12.557 15.5683 12.7291C15.3102 12.8406 15.1144 12.9794 14.9841 13.1435C14.8473 13.319 14.7767 13.5378 14.7767 13.794C14.7767 14.0057 14.8326 14.2017 14.9419 14.3768C15.0413 14.5375 15.1661 14.6776 15.3106 14.7916L15.4302 14.8842L15.567 14.8198C15.909 14.6587 16.3066 14.5114 16.7497 14.3814C17.1803 14.2564 17.6355 14.1933 18.1019 14.1933C18.6762 14.1933 19.1241 14.3006 19.4312 14.5114C19.7165 14.7079 19.8554 15.0226 19.8554 15.4728V15.6571L17.5064 15.8881C16.4761 15.9904 15.6716 16.2689 15.1157 16.7179C14.5354 17.1841 14.2415 17.8594 14.2415 18.7241C14.2415 19.6927 14.6145 20.4399 15.3511 20.9423ZM18.1075 17.6949L19.855 17.5232L19.8554 19.4221C19.7574 19.4709 19.6003 19.5324 19.3499 19.5976C19.0574 19.675 18.6994 19.7158 18.2869 19.7158C17.6902 19.7158 17.2539 19.6182 16.991 19.4284C16.7458 19.2509 16.6271 19.0085 16.6271 18.6875C16.6271 18.3786 16.7278 18.1687 16.9446 18.0273C17.1941 17.8628 17.5856 17.7513 18.1075 17.6949Z" fill="#3AB424"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M64.2802 21.35C64.8873 21.5508 65.5679 21.6517 66.3044 21.6517C66.7454 21.6517 67.1683 21.6134 67.5607 21.5394C67.9496 21.4649 68.2976 21.358 68.594 21.2238C68.9068 21.0812 69.1473 20.915 69.328 20.7151C69.5289 20.4976 69.6304 20.2531 69.6304 19.9885C69.6304 19.5555 69.4097 19.2042 68.9916 18.9711L68.8569 18.8957L68.7317 18.9837C68.4912 19.1511 68.1625 19.3106 67.7538 19.4591C67.3486 19.6051 66.899 19.6796 66.4159 19.6796C65.6935 19.6796 65.0964 19.5265 64.6399 19.2239C64.2566 18.9694 63.9778 18.5882 63.8079 18.0883L68.9318 17.368C69.2626 17.312 69.5216 17.1959 69.7031 17.0259C69.9006 16.842 70 16.5626 70 16.1953C70 15.6247 69.8976 15.09 69.695 14.6078C69.4936 14.123 69.2011 13.6972 68.8255 13.343C68.4538 12.9925 68.0042 12.7143 67.4918 12.5166C66.4666 12.1236 65.1192 12.1215 64.0385 12.5254C63.4938 12.7286 63.012 13.0295 62.608 13.4178C62.204 13.8058 61.8818 14.2947 61.6482 14.8716C61.4163 15.4459 61.2988 16.1162 61.2988 16.8635C61.2988 17.6393 61.4202 18.3311 61.6572 18.9197C61.8977 19.5155 62.244 20.0242 62.6854 20.4311C63.1273 20.8388 63.6637 21.1485 64.2802 21.35ZM64.2712 14.7546C64.6756 14.3524 65.1721 14.1567 65.7877 14.1567C66.3862 14.1567 66.8293 14.3179 67.1425 14.649C67.4157 14.9393 67.5852 15.2747 67.6592 15.6698L63.6465 16.2281C63.7085 15.5915 63.9146 15.108 64.2712 14.7546Z" fill="#3AB424"></path><path d="M56.307 20.9991C56.8938 21.4325 57.685 21.6517 58.659 21.6517C59.38 21.6517 59.9084 21.539 60.2745 21.3067C60.6742 21.058 60.8772 20.7294 60.8772 20.3314C60.8772 20.1244 60.8325 19.9397 60.7451 19.7827C60.6686 19.6468 60.5808 19.5239 60.4844 19.4171L60.3622 19.2807L60.1957 19.3611C60.0348 19.4389 59.8451 19.5054 59.6313 19.5601C58.9352 19.7377 58.391 19.6342 58.0808 19.4166C57.8868 19.2816 57.7934 19.0426 57.7934 18.6875V14.6271H59.9329C60.5218 14.6271 60.86 14.2577 60.86 13.6135C60.86 13.449 60.8333 13.2853 60.7813 13.1237C60.7305 12.9714 60.6763 12.8532 60.6156 12.7627L60.5447 12.6546H57.793V11.1032C57.793 10.7191 57.6785 10.4334 57.4527 10.2508C57.2414 10.082 56.9351 10 56.5174 10C56.3126 10 56.1203 10.0194 55.9452 10.0602C55.7804 10.0964 55.6535 10.1288 55.5649 10.1527L55.3889 10.2015V18.8145C55.3889 19.8155 55.6978 20.5514 56.307 20.9991Z" fill="#3AB424"></path><path d="M49.8752 20.9991C50.4629 21.4325 51.2545 21.6517 52.2285 21.6517C52.9479 21.6517 53.4766 21.539 53.8453 21.3063C54.2441 21.0576 54.4463 20.729 54.4463 20.331C54.4463 20.1223 54.4016 19.938 54.3142 19.7831C54.2372 19.6455 54.1495 19.5223 54.0544 19.4162L53.9313 19.2812L53.7657 19.3603C53.6026 19.4398 53.4129 19.5067 53.2004 19.5601C52.5168 19.7364 51.9627 19.6354 51.649 19.4166C51.4567 19.2816 51.3634 19.043 51.3634 18.6875V14.6271H53.5033C54.0909 14.6271 54.4287 14.2577 54.4287 13.6135C54.4287 13.4477 54.4024 13.284 54.3517 13.1258C54.3018 12.9723 54.2471 12.8523 54.183 12.7598L54.1125 12.6546H51.3629V11.1032C51.3629 10.7174 51.2485 10.4313 51.0231 10.2508C50.8118 10.082 50.5059 10 50.0865 10C49.883 10 49.6898 10.0194 49.5147 10.0602C49.3499 10.0964 49.2222 10.1288 49.1335 10.1527L48.9567 10.2015V18.8145C48.9567 19.8155 49.266 20.5506 49.8752 20.9991Z" fill="#3AB424"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M42.167 21.35C42.7728 21.5508 43.4547 21.6517 44.1925 21.6517C44.6352 21.6517 45.0572 21.6134 45.4479 21.539C45.8342 21.4645 46.1827 21.3589 46.4825 21.2234C46.7897 21.082 47.0358 20.9116 47.2152 20.7147C47.4157 20.4972 47.5172 20.2527 47.5172 19.988C47.5172 19.5551 47.2965 19.2033 46.8788 18.9706L46.7441 18.8953L46.618 18.9833C46.378 19.1507 46.0489 19.3106 45.641 19.4587C45.2375 19.6047 44.7875 19.6792 44.303 19.6792C43.5807 19.6792 42.984 19.526 42.5275 19.2235C42.1446 18.9698 41.8659 18.5877 41.6955 18.0879L46.8185 17.3675C47.1485 17.312 47.4079 17.1959 47.5916 17.0255C47.7887 16.8403 47.8876 16.5614 47.8876 16.1953C47.8876 15.6239 47.7848 15.09 47.583 14.6082C47.3821 14.1243 47.0904 13.6985 46.7144 13.343C46.341 12.9916 45.8918 12.7139 45.3799 12.5166C44.3547 12.1223 43.0029 12.1215 41.9278 12.5254C41.381 12.7286 40.8992 13.0295 40.496 13.4178C40.0925 13.8054 39.7694 14.2947 39.5345 14.8724C39.3026 15.4484 39.1856 16.1183 39.1856 16.8635C39.1856 17.6372 39.3061 18.3294 39.5444 18.9185C39.7849 19.5147 40.1308 20.0234 40.573 20.4311C41.0149 20.8388 41.5509 21.1485 42.167 21.35ZM42.1575 14.755C42.5641 14.3524 43.0606 14.1567 43.6749 14.1567C44.2747 14.1567 44.7169 14.3179 45.0297 14.649C45.3016 14.9389 45.4719 15.2742 45.5459 15.6698L41.535 16.2281C41.5974 15.5978 41.8069 15.1034 42.1575 14.755Z" fill="#3AB424"></path><path d="M36.8835 21.3063C37.1128 21.451 37.3778 21.5255 37.6695 21.5255C38.0623 21.5255 38.3751 21.3976 38.5996 21.1468C38.8126 20.9125 38.9412 20.5914 38.9825 20.193L38.9946 20.0747L35.3007 16.7776L37.5525 14.84C37.8489 14.588 38.0687 14.3793 38.2249 14.2009C38.409 13.9888 38.5028 13.7427 38.5028 13.4696C38.5028 13.1284 38.3566 12.846 38.0657 12.6298C37.7981 12.4312 37.4372 12.3243 36.9953 12.3112L36.8917 12.3079L33.4258 15.6483V11.1032C33.4258 10.7178 33.3122 10.4321 33.0872 10.2508C32.8751 10.082 32.568 10 32.1489 10C31.9454 10 31.754 10.0194 31.5772 10.0602C31.412 10.0964 31.2855 10.1288 31.1969 10.1527L31.0205 10.2015V20.4042C31.0205 20.7913 31.1388 21.0791 31.3728 21.2587C31.5909 21.4258 31.899 21.5066 32.3163 21.5066C32.5163 21.5066 32.7022 21.4906 32.8696 21.4573C33.0317 21.4258 33.1681 21.3879 33.2761 21.345L33.4254 21.2844V17.8375L36.2158 20.7235C36.4498 20.9789 36.6744 21.175 36.8835 21.3063Z" fill="#3AB424"></path><path d="M11.0992 21.2768C11.3173 21.4443 11.6254 21.5255 12.0418 21.5255C12.2414 21.5255 12.429 21.5087 12.5964 21.4767C12.7538 21.4451 12.8932 21.409 13.0102 21.3673L13.1698 21.3105V15.456C13.1698 14.9069 13.0761 14.4243 12.8898 14.0216C12.7022 13.6186 12.4406 13.2765 12.1128 13.0084C11.785 12.7408 11.3913 12.5431 10.943 12.4211C10.5029 12.3003 10.0275 12.2401 9.52891 12.2401C8.87498 12.2401 8.29031 12.3331 7.79125 12.517C7.37093 12.6723 6.99406 12.8637 6.66882 13.0875C6.37283 12.8305 6.01187 12.6298 5.59327 12.4875C4.64163 12.1657 3.3884 12.1526 2.24187 12.4838C1.67957 12.6457 1.20461 12.8502 0.827739 13.0922C0.538632 13.2815 0.335569 13.4688 0.205213 13.6653C0.0688338 13.871 0 14.1386 0 14.463V20.4231C0 20.8127 0.118311 21.0997 0.351059 21.2785C0.570471 21.4451 0.878934 21.5263 1.29496 21.5263C1.49544 21.5263 1.68215 21.5095 1.84951 21.4775C2.01514 21.4447 2.15195 21.406 2.25563 21.3635L2.40406 21.3021V14.6494C2.57787 14.5522 2.7848 14.4609 3.02142 14.378C3.29848 14.2796 3.6005 14.2299 3.91757 14.2299C4.37489 14.2299 4.73929 14.3368 5.00215 14.5476C5.24867 14.7445 5.37429 15.0748 5.37429 15.528V20.4223C5.37429 20.8106 5.49174 21.098 5.72492 21.2777C5.94433 21.4443 6.25236 21.5255 6.66838 21.5255C6.85553 21.5255 7.03837 21.5087 7.21347 21.4767C7.38298 21.4439 7.5228 21.4064 7.62864 21.3631L7.77921 21.3021V15.3289C7.77921 15.212 7.77147 15.0946 7.7577 14.9801C7.75125 14.9141 7.74178 14.8505 7.7306 14.7891C7.94097 14.6296 8.16942 14.4992 8.41292 14.4012C8.69945 14.2867 8.99329 14.2299 9.3095 14.2299C9.76639 14.2299 10.1261 14.3359 10.3825 14.5459C10.6247 14.7428 10.7473 15.0731 10.7473 15.528V20.4223C10.7473 20.8119 10.8665 21.0993 11.0992 21.2768Z" fill="#3AB424"></path><path d="M24.1929 21.2596C24.4119 21.4262 24.7204 21.5066 25.1364 21.5066C25.3369 21.5066 25.5236 21.4906 25.6909 21.4582C25.8527 21.4266 25.9891 21.3888 26.0966 21.3458L26.2463 21.2852V14.6768C26.4855 14.559 26.7721 14.4584 27.099 14.3768C27.4854 14.2787 27.919 14.2299 28.3862 14.2299C28.5859 14.2299 28.7739 14.2409 28.9451 14.2632C29.1245 14.2871 29.2729 14.3103 29.393 14.333L29.5569 14.3646L29.6446 14.2253C29.7135 14.1163 29.7767 13.9909 29.8301 13.8529C29.8907 13.7002 29.9217 13.5348 29.9217 13.3615C29.9217 12.8414 29.5977 12.2212 28.0545 12.2212C27.3692 12.2212 26.7321 12.2965 26.1642 12.4455C25.589 12.5953 25.1071 12.7867 24.7307 13.0164C24.4321 13.2012 24.2088 13.404 24.0651 13.619C23.9171 13.8428 23.8418 14.1323 23.8418 14.4807V20.4042C23.8418 20.7913 23.9593 21.0791 24.1929 21.2596Z" fill="#3AB424"></path></svg>
                    </div>
                    <div class="cimrii-markette">
                        Cimri Markette
                    </div>
                </a>
            </div>
            <a href="" class="mobil">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.49902 2.99609V4.79684C9.49902 5.12798 9.72312 5.39709 9.99923 5.39709H14.0009C14.277 5.39709 14.5011 5.12798 14.5011 4.79684V2.99609"stroke="#364354" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd"d="M7.99888 2.99609H16.0022C17.1077 2.99609 18.003 3.89147 18.003 4.99693V19.0028C18.003 20.1082 17.1077 21.0036 16.0022 21.0036H7.99888C6.89342 21.0036 5.99805 20.1082 5.99805 19.0028V4.99693C5.99805 3.89147 6.89342 2.99609 7.99888 2.99609Z"stroke="#364354" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <div class="mobil-indir">
                    Mobil Uygulamayı İndirin
                </div>
            </a>
        </div>
    </div>
    <div class="container alt-container">
        <div class="header-wrapper alt-container-wrapper">
            <div class="sol-nav">

                <!-- <div class="mobil-sol-nav">
                    <input type="checkbox" id="menu-toggle">
                    <label for="menu-toggle">
                        <div class="hamburger-menu">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.99609 5.9963H21.0036" stroke="#0786E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17.0019 11.9983H2.99609" stroke="#0786E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2.99609 18.0022H13.0003" stroke="#0786E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </div>
                    </label>
                    
                </div> -->

                <a asp-controller="Cimri" asp-action="Index"  class="cimri-icon">
                    <svg width="88" height="40" viewBox="0 0 88 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.0166 13.3967C3.32996 13.4069 -0.00942666 17.0019 1.99859e-05 24.1919C0.00946663 31.4025 3.35988 35.003 10.0465 34.9927C15.2461 34.9848 18.4273 32.7859 19.5813 28.3864L15.1154 28.3943C14.2786 29.9749 12.5861 30.7683 10.041 30.7707C7.79508 30.7723 6.22379 30.165 5.3295 28.9456C4.59581 27.9684 4.22661 26.383 4.22503 24.1841C4.22031 21.9843 4.58558 20.3974 5.31376 19.4202C6.20726 18.2244 7.7754 17.625 10.0229 17.6227C12.5963 17.6195 14.2896 18.3995 15.1052 19.9715L19.5719 19.9652C18.4045 15.5862 15.2272 13.3975 10.0418 13.3975C10.0347 13.3967 10.0253 13.3967 10.0166 13.3967ZM22.7318 13.3785L22.7609 34.9754L26.9867 34.9699L26.9545 13.373L22.7318 13.3785ZM56.2406 13.332C52.6667 13.3367 50.0295 14.4338 48.3275 16.6265C46.587 14.4409 43.9364 13.3493 40.36 13.3549C33.6718 13.3643 30.3332 16.9751 30.3419 24.188L30.3576 34.9643L34.5834 34.9588L34.5677 24.1785C34.5629 21.9796 34.9282 20.3927 35.6564 19.417C36.5491 18.1961 38.118 17.5816 40.3656 17.5793C42.6131 17.5769 44.197 18.1811 45.1219 19.4012C45.8556 20.3769 46.2201 21.9654 46.2233 24.162L46.239 34.9438L50.4609 34.9383L50.4467 24.1557C50.4451 21.9598 50.808 20.3698 51.5394 19.3925C52.4297 18.1724 53.9994 17.5603 56.2477 17.558C58.4945 17.5556 60.0799 18.1613 61.0041 19.3807C61.7354 20.3548 62.0999 21.9417 62.1047 24.1399L62.1196 34.9218L66.3462 34.9154L66.3312 24.1352C66.3202 16.9333 62.9651 13.3328 56.2666 13.3328C56.2572 13.332 56.2477 13.332 56.2406 13.332ZM69.7368 21.1617L69.7588 34.9107L73.9799 34.9044L73.9626 21.1522C73.961 20.0117 74.3239 19.1701 75.0521 18.6283C76.0542 17.8963 77.8687 17.5272 80.4965 17.5241L80.4902 13.2989C73.3139 13.3099 69.7305 15.93 69.7368 21.1617ZM82.9211 13.2926L82.9542 34.891L87.1745 34.8839L87.1469 13.2886L82.9211 13.2926ZM23.0719 6.65464C21.7509 7.62083 21.473 9.48616 22.4476 10.8231C23.4238 12.156 25.2824 12.4557 26.6002 11.4887C27.922 10.5225 28.1991 8.65721 27.2245 7.31954C26.6348 6.51425 25.7248 6.08597 24.8061 6.08597C24.2031 6.08518 23.5954 6.27132 23.0719 6.65464ZM83.2636 6.57025C81.9426 7.53644 81.6616 9.40177 82.6409 10.7394C83.6139 12.0716 85.4772 12.3705 86.7903 11.4028C88.1152 10.4366 88.3931 8.57124 87.4185 7.23435C86.8297 6.42986 85.9165 6 84.9986 6C84.394 6 83.7863 6.18614 83.2636 6.57025Z"fill="#0786E7"></path>
                    </svg>
                </a>
                <div class="kategoriler">
                    Kategoriler
                </div>
                <div class="kategori-arrow">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 16L14 12L10 8" stroke="#364354" stroke-width="1.5" stroke-linecap="round"stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <div class="orta-nav" >
                <div class="searching" >
                    <input type="text" class="searchTerm" placeholder="Neyi En Ucuza Almak İstesin" >
                    <button type="submit" class="searchButton" >
                        <i class="fa-solid fa-magnifying-glass search-icon" ></i>
                    </button>
                </div>
                <div class="arananlar">
                    <a href="#" class="arananlar-yazi">Iphone 14</a>
                    <a href="#" class="arananlar-yazi">Airfryer</a>
                    <a href="#" class="arananlar-yazi">Playstation 5</a>
                    <a href="#" class="arananlar-yazi">Dyson</a>
                    <a href="#" class="arananlar-yazi">Güneş Kremleri</a>
                    <a href="#" class="arananlar-yazi">Vantilatör</a>
                </div>
            </div>
            <div class="sag-nav" >
                <a href="#"class="nav-icon-a">
                    <div class="icon-nav">
                        <button class="icon-button">
                            <i class="fa-regular fa-newspaper iconn" ></i>
                        </button>
                        <span class="icon-başlik">Broşürler</span>
                    </div>
                </a>
                <a href="#"class="nav-icon-a">
                    <div class="icon-nav">
                        <button class="icon-button">
                            <i class="fa-solid fa-percent iconn"></i>
                        </button>
                        <span class="icon-başlik">Fiyatı düşenler</span>
                    </div>
                </a>
                <a href="#"class="nav-icon-a">
                    <div class="icon-nav">
                        <button class="icon-button">
                            <i class="fa-regular fa-heart iconn"></i>
                        </button>
                        <span class="icon-başlik">Favoriler</span>
                    </div>
                </a>
                <a href="#" class="nav-icon-a">
                    <div class="icon-nav">
                        <button class="icon-button">
                            <i class="fa-regular fa-user iconn"></i>
                        </button>
                        <span class="icon-başlik">Giriş Yap</span>
                        
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>